body {
  background-color: bisque;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.top-half {
  width: 90%;
  height: auto;
}

.name-picture {
  float:left;
  border: 1px;
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 1px;
  margin-bottom: 10px;
  width: 50%;
  height: auto;
  box-sizing: border-box;
}



.name {
  font-family: monospace;
  font-size: 21px;
  letter-spacing: 20px;
  width: 90%;
}

h1.first {
    transform: scale(1,.9);
    border:1px;
    margin-bottom:0px;
}

h1.last {
  width:min-content;
  transform: scale(1,.9);
  float: left;
  border:1px;
  margin-top:0px;
}

img.chayo {
  margin-left:30px;
  margin-top:30px;
  width: 50%;
  height: auto;
}

.about {
  width: 45%;
  float:right;
  height: auto;
  margin-left: 0px;
  border: 1px;
  padding-top:30px;
  padding-right:30px;
  padding-left:0px;
  box-sizing: border-box;
}

.blurb {
  width:45%;
  float:left;
  border: 1px;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
}

.blurb p{
  font-style: italic;
}

.hobbies {
  width:45%;
  float:right;
  border: 1px;
  margin: auto;
  box-sizing: border-box;
}

.projects {
  float:left;
  border:1px;
  border-top:1px solid rgb(82, 65, 44);
  margin: 5px;
  margin-top: 0px;
  width: 90%;
  height: auto;
  padding: 10px;
  padding-top: 5px;
  box-sizing: border-box;
}

.projects h2 {
  text-align: center;
  transform: scale(2.5,2);
  border:1px;
  padding-bottom: 10px;
}
