.top {
  float:left;
  border: 2px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 90%;
  box-sizing: border-box;
}

.name {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 21px;
  letter-spacing: 20px;
  width: 70%;
  
}

h1.first {
    transform: scale(1,.9);
    
}

h1.last {
  width:min-content;
  transform: scale(1,.9);
}

img.chayo {
  float: right;
  width: 40%;
  height: auto;
}

.about {
  width: 100%;
  border: 1px;
  padding: 20px;

}

.blurb {
  width:45%;
  float:left;
  border: 1px;
  margin: auto;
  box-sizing: border-box;
}

.hobbies {
  width:45%;
  float:right;
  border: 1px;
  margin: auto;
  box-sizing: border-box;
  


}






.projects {
  float:left;
  border: 1px;
  margin: 5px;
  margin-top: 10px;
  padding: 20px;



}


/* h1.first {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1.second {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: left;
} */